html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
 
.container {
  max-width: 1024px;
  margin: 0 auto;
}
 
.header {
  background-color: #1f2937;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 16px;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

.links {
  list-style: none;
  display: flex;
  gap: 24px;
}

.links a {
  text-decoration: none;
}

.hero-subtext,
.links a {
  font-size: 18px;
  color: #e5e7eb;

}

.hero {
  display: flex;
  padding: 120px 0;
  /* align-items: center; */
}

.hero-left,
.image {
  flex: 1 50%;
}

.hero-left {
  padding-right: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.hero-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  line-height: 1.15;
}

.hero-subtext {
  line-height: 1.15;
}

.signup {
  margin-top: 10px;
  font-size: 18px;
  background-color: #3882f6;
  border: 0;
  border-radius: 8px;
  color: #f9faf8;
  font-weight: 700;
  padding: 8px 36px;
}

.hero-image {
  display: block;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 2 / 1;
}


/* Info section with images */

.info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-header {
  padding-top: 48px;
  color: #1f2937;
  font-weight: 900;
  font-size: 36px;
}

.info-cards {
  padding-top: 48px;
  padding-bottom: 128px;
  display: flex;
  justify-content: center;
  gap: 48px;
}

.card {
  flex: 0 1 168px;
}

.info-image {
  max-width: 100%;
  border: 4px solid #3882f6;
  border-radius: 16px;
}

.info-subtext {
  text-align: center;
  color: #4b5563;
  font-size: 18px;
  line-height: 1.15;
}


/* Quote section */
.quote {
  background-color: #e5e7eb;
}

.quote-content {
  padding: 128px 128px 96px;
}

.quote-text {
  color: #1f2937;
  font-style: italic;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.15;
}

.quote-author {
  text-align: right;
  color: #1f2937;
  font-size: 24px;
  font-weight: 700;
}
